[submodule "mmix-fpga/third_party/hdl-util_hdmi"]
	path = mmix-fpga/third_party/hdl-util_hdmi
	url = https://github.com/hdl-util/hdmi
[submodule "mmix-fpga/third_party/gtaylormb_opl3_fpga"]
	path = mmix-fpga/third_party/gtaylormb_opl3_fpga
	url = https://github.com/gtaylormb/opl3_fpga
